<section class="contact">
  <h3>Contacto</h3>

  <p>Puede contactarnos a través de los siguientes medios:</p>

  <p><a href="tel:5493413492049" class="btn btn-default">Tel: +5493413492049</a></p>
  <p><a href="<%= ENV["FACEBOOK_URL"] %>" class="btn btn-primary">Facebook</a></p>
  <p><a href="https://wa.me/5493413492049" class="btn btn-success">WhatsApp</a></p>

</section>
