<section class="servicios">
  <h3>Área Edificios Seguros</h3>

  <hr class="divider">

  <div class="row">
    <div class="col-sm-8 extra-margin-bottom">
      <%= image_tag "maysso-edificios-seguros.jpg", class: "img-responsive extra-margin-bottom" %>
      <p>En esta oportunidad, nos acercamos a Ud. a fin de ofrecerle un nuevo servicio: <i><b>"EDIFICIO MAYSSO SEGURO"</b></i>. Con él, MAYSSO pretende ofrecerles un asesoramiento permanente en materia de seguridad edilicia, para los edificios de viviendas o de oficinas de la ciudad de Rosario, adelantándonos a la sanción de una ordenanza que en la Municipalidad de Rosario está en tratamiento en el concejo deliberante, y que se asemeja a la que actualmente se encuentra en vigencia en la C.A.B.A. Este asesoramiento, se centra en la observancia puntual y periódica de las condiciones de seguridad del edificio, y también de las condiciones de seguridad y cumplimiento de documentación legal de los contratistas de obras que ingresan al edifico a hacer alguna tarea puntual. Pretende de este modo brindar al administrador del consorcio la tranquilidad de un servicio técnico específico, que apoye su desempeño como responsable administrador del edificio.</p>
      <p><b>El servicio MAYSSO Edificio Seguro propone:</b></p>
      <p>Apertura de un libro de constancioas de actuaciones, foliado.</p>
      <p>Verificación de instalaciones eléctricas y espacios comunes.</p>
      <p>Mediciones de puesta a tierra y tablero principal.</p>
      <p>Verificación de sala de máquinas de ascensores.</p>
      <p>Verificación de escaleras.</p>
      <p>Antideslizantes y barandas.</p>
      <p>Verificación de iluminación de emergencia.</p>
      <p>Verificación de cartelería de seguridad - señalizaciones.</p>
      <p>Confección de plan de evacuación.</p>
      <p>Estudio de Carga de Fuego.</p>
      <p>Verificación de extinguidores(tipo, cantidad, fecha Vencimiento).</p>
      <p>Verificación de estado de barandas azotea.</p>
      <p>Verificación de estado de elementos anclaje/izaje (si los tuviera).</p>
      <p>Verificación de estado edilicio de balcones y otras salientes.</p>
      <p>Verificación de seguridad de natatorios (si los tuviera).</p>
      <p>Verificación general de seguridad edilicia segón características propias de la edificación en espacios comunes.</p>
      <p>Asesoramiento para la revisión de documentación (Seguros, Programa de Seguridad, Etc.), a cumplimentar por personal que ingrese a ejecturar trabajos de reparaciones edilicias o en máquinas o ascensores.</p>
      <p>Verificación de cumplimiento de la normativa Municipal en vigencia.</p>
      <p>Estado de análisis bacteriológico y fisioquímico del agua potable.</p>
      <p>Verificación de limpieza de tanque de agua (si correspondiere).</p>
      <p>Verificación de equipos sometidos a presión (Caldera si tuviera).Inscripción en la EPE y verificación de cumplimiento de controles exigibles por autoridad de aplicación.</p>
      <p>Verificación de cumplimiento de desinfección y desinsectación en espacios comunes.</p>
    </div>
    <div class="col-sm-4">
      <%= render "servicios/aside" %>
    </div>
</section>