<section class="servicios">
  <h3>Estudios y Evaluaciones</h3>

  <hr class="divider">

  <div class="row">
    <div class="col-sm-8 extra-margin-bottom">
      <%= image_tag "maysso-estudios-evaluaciones.jpg", class: "img-responsive extra-margin-bottom" %>
      <p>Medición de niveles de Ruido en el Ambiente Laboral Resolución SRT Nº 85/2012</p>
      <p>Medición de niveles de Iluminación en el Ambiente Laboral Resolución SRT Nº 84/2012</p>
      <p>Mediciones de Puesta a Tierra en jabalinas. DEC. 351/79</p>
      <p>Evaluación de contaminantes laborales.</p>
      <p>Determinación de sustancias y agentes incluidas en el "Listado de Sustancias y Agentes Cancerígenos" (incluye Declaración Jurada) Res. SRT Nº 415/2002.</p>
      <p>Determinación de sustancias químicas incluidas en el "Registro Nacional para la Prevención de Accidentes Industriales Mayores" (incluye Declaración Jurada) Res. SRT Nº 743/2003.</p>
      <p>Habilitación / renovación /prueba periódica de aparatos sometidos a presión.</p>

      <hr class="divider">

      <p><b>MAYSSO ofrece entre sus servicios la elaboración de documentación técnica de Aspectos Higrotérmicos y Eficiencia Energética de las Construcciones - Ordenanza N° 8.757 - Decreto N° 985/2013.</b></p>
    </div>
    <div class="col-sm-4">
      <%= render "servicios/aside" %>
    </div>
</section>