<section class="servicios">
  <h3>Área Higiene y Seguridad en la Industria</h3>

  <hr class="divider">

  <div class="row">
    <div class="col-sm-8 extra-margin-bottom">
      <%= image_tag "maysso-higiene-y-seguridad.jpg", class: "img-responsive extra-margin-bottom" %>
      <p>Prestación de servicio externo de higiene y seguridad realizado por profesionales habilitados y matriculados acorde al Decreto PEN 1338/96 - Res. SRT 231/96.</p>
      <p>Auditorias y controles periódicos en el establecimiento con registro escrito de las novedades relevadas.</p>
      <p>Evaluaciones de riesgos de puestos de trabajo.</p>
      <p>Elaboración de Procedimiento de Trabajo Seguro para tareas que así lo requieran.</p>
      <p>Asesoramiento e implementación de medidas preventivas y correctivas para tareas que se desarrollen en el establecimiento o en establecimiento de terceros.</p>
      <p>Asesoramiento sobre la selección (Res. 299/2011), mantenimiento y uso de los Elementos de Protección Personal.</p>
      <p>Guía y asesoramiento a la dirección de la empresa para la formulación y aplicación de la Política de higiene y seguridad y gestión ambiental en los establecimientos de la empresa.</p>
      <p>Capacitación del personal en todos sus niveles (Gerencial, Supervisión y Trabajadores) a través de cursos, prácticas, material audiovisual, entrega de instructivos didácticos.</p>
      <p>Investigación de Accidentes y recomendaciones a fin de evitar nuevas contingencias.</p>
      <p>Evaluación ergonómica de los puestos de trabajo según Res. MTESS Nº 295/2003.</p>
      <p>Desarrollo de planes de evacuación y contingencia.</p>
      <p>Guía y asesoramiento a la Dirección para la conformación de los Comités Paritarios de Salud y Seguridad Laboral, Ley Provincial Nº 12913 y Decreto Provincial Nº 396/2009.</p>
      <p>Guía y asesoramiento a la Dirección para la elaboración del Programa Anual de Prevención (PAP). Res. Provincial Nº 607/2011.</p>
      <p>Habilitación, renovación, y prueba periódica de aparatos sometidos a presión.</p>
      <p>Prevención de Incendios: Capacitación en prevención de incendio. Asignación de roles ante la emergencia. Formación de brigadistas. Simulacro de evacuación. Práctica de extinción incendio mediante uso de medios de extinsión. Elaboración de Planes de evacuación para casos de incendio. Confección de croquis o planos de evacuación y Medios de salidas (Cálculos, determinación de anchos de salida, cantidades necesarias, factor de ocupación, señalización, iluminación de emergencia, etc.). Estudio de cargas de fuego.</p>
    </div>
    <div class="col-sm-4">
      <%= render "servicios/aside" %>
    </div>
</section>