<section class="servicios">
  <h3>Área Higiene y Seguridad para la Construcción</h3>

  <hr class="divider">

  <div class="row">
    <div class="col-sm-8 extra-margin-bottom">
      <%= image_tag "maysso-higiene-y-seguridad-construccion.jpg", class: "img-responsive extra-margin-bottom" %>
      <p>Elaboración de programa de seguridad, Res. SRT 51/97, Res. SRT 35/98, Res. SRT 319/99. Gestión ante la ART para su aprobación.</p>
      <p>Elaboración de aviso de obra, Extensiones de obras y gestiones ante la ART.</p>
      <p>Coordinación de obras para contratistas principales. Res. SRT 35/98.</p>
      <p>Auditoria de obra por un profesional habilitado según Res. 231/96 con registro escrito de novedades, plan de acciones preventivas y/o correctivas.</p>
      <p>Control de desvíos de seguridad en obra y cumplimiento de los Permisos de Trabajo Seguro. Realización de informes sobre los avances, desvíos observados, medidas adoptadas, etc.</p>
      <p>Capacitación del personal a nivel Gerencial, Supervisión y Operarios.</p>
      <p>Atención de auditores de autoridades oficiales.</p>
      <p>Asesoramiento sobre la adquisición, mantenimiento y uso y Evaluación de estado de los EPP.</p>
      <p>Asesoramiento en el control de equipos de obra y mantenimiento preventivo de los mismos.</p>
      <p>Investigación de accidentes y recomendaciones a fin de evitar nuevas contingencias.</p>
      <p>Redacción de Políticas específicas de Higiene y Seguridad en caso de ser necesarias, adaptadas a cada etapa de la obra.</p>
      <p>Control de documentación de Higiene y Seguridad en obra.</p>
      <p>Asesoramiento para la pre-calificación de subcontratistas.</p>
      <p>Realización de reuniones periódicas con los Responsables de Seguridad de las empresas sub-contratistas, a fin de solucionar los desvíos observados y de evaluar el desarrollo de las distintas tareas que se llevan a cabo en obra.</p>
      <p>Fijación de Objetivos de Seguridad conjuntamente con la Dirección de Obra y el equipo de Jefatura de la misma.</p>
      <p>Asesoramiento para el cumplimiento de la legislación vigente sobre Comités de Higiene y Seguridad.</p>
      <p>Cálculos de andamios colgantes, andamios tubulares, estructuras de montacargas, soportes de líneas de vida, y otras estructuras de seguridad de obra.</p>
    </div>
    <div class="col-sm-4">
      <%= render "servicios/aside" %>
    </div>
</section>