<section class="servicios">
  <h3>Área Manuales de Procedimientos</h3>

  <hr class="divider">

  <div class="row">
    <div class="col-sm-8 extra-margin-bottom">
      <%= image_tag "maysso-manuales-de-procedimientos.jpg", class: "img-responsive extra-margin-bottom" %>
      <p>Los manuales de procedimiento son una herramienta eficiente donde describe detalladamente las tareas de los distintos puestos, <i>"lo que se debe hacer y como se debe hacer"</i>.</p>
      <p>Los manuales de procedimiento ayudan a la capacitación y adiestramiento de los nuevos recursos y a que ellos conozcan como deben hacerse las cosas. Aumenta la eficiencia de los empleados. Brindan información de los procesos y los sistemas que intervienen. Permiten evaluar y mejorar los sistemas existentes. Ayudan a detectar duplicidad de funciones y errores, para lograr simplificación de tareas y economizar recursos. Proporcionan información acerca de los responsables de cada puesto y áqrea y delegación de autoridad. Facilita las evaluaciones del control interno y auditorias y deja ver claramente la coordinación de las distintas aéreas. Los manuales de procedimientos son una herramienta eficaz para el mejoramiento de los sistemas y procedimientos. Sirven para uniformar las tareas rutinarias y evitar alteraciones.</p>
      <p><b>CALIDAD TOTAL</b></p>
      <p>Calidad Total es: “hacer las cosas bien, la primera vez”.</p>
      <p>Toda empresa que quiera diferenciarse de sus competidores es el “objetivo” al cual debe apuntar. Calidad Total es satisfacer y superar la expectativa del cliente, esto se logra agregando valor en cada uno de los procesos intervinientes.</p>
      <p><i><b>La Calidad Total reporta beneficios:</b></i></p>
      <p>- <b>economicos</b>: evita el costo de desperdicios de productos y/o servicios deficientes, reiteración de tareas.</p>
      <p>- <b>competitivos</b>: brindando y asegurando a los clientes los productos y servicios que reciben.</p>
      <p>- <b>inversión</b>: mayor rendimiento para hoy y para siempre.</p>
      <p>Los actores involucrados en la Calidad Total son: trabajadores, proveedores y clientes; por lo que podemos deducir que toda parte de la empresa estáq seriamente comprometida con la Calidad Total.</p>
      <p>Calidad Total apunta a satisfacer a sus clientes para que ellos sean sus cliente siempre.</p>
    </div>
    <div class="col-sm-4">
      <%= render "servicios/aside" %>
    </div>
</section>