<section class="servicios">
  <h3>Área Medio Ambiente</h3>

  <hr class="divider">

  <div class="row">
    <div class="col-sm-8 extra-margin-bottom">
      <%= image_tag "maysso-medio-ambiente.jpg", class: "img-responsive extra-margin-bottom" %>
      <p>Categorización industrial</p>
      <p>Certificado de Uso Conforme de Suelo - Dec. Prov. Nº 0101/03</p>
      <p>Auditoria ambiental.</p>
      <p>Informe de cumplimiento ambiental.</p>
      <p>Censos de riesgos.</p>
      <p>Estudio de Impacto ambiental - Dec. Prov. Nº 0101/03</p>
      <p>Certificado de Aptitud Ambiental - Dec. Prov. Nº 0101/03</p><p>Análisis de riesgos ambientales.</p>
      <p>Desarrollo de Política Ambiental.</p>
      <p>Evaluación de Efluentes líquidos - Res. Prov. Nº 1089/82</p><p>Factibilidad de volcamiento - Res. Prov. Nº 1089/82</p>
      <p>Evaluación de Efluentes gaseosos - Res. Prov. Nº 201/04</p><p>Residuos peligrosos y/o especiales, asesoramiento sobre tratamiento y disposición final. Ley Prov. Nº 11717/99 - Dec. Prov. Nº 1844/02</p>
      <p>Inscripción como generador de residuos especiales y/o peligrosos - Dec. Prov. Nº 1844/02</p>
      <p>Renovación anual como generador de residuos especiales y/o peligrosos - Dec. Prov. Nº 1844/02</p>
    </div>
    <div class="col-sm-4">
      <%= render "servicios/aside" %>
    </div>
</section>