<section class="our-standards">
  <h3>Empresa</h3>

  <hr class="divider">

  <div class="row">
    <div class="col-sm-8 extra-margin-bottom">
      <h4><b>Nuestros Valores</b></h4>

      <p>Nuestro servicio de asesoramiento se caracteriza por un alto grado de Compromiso con la labor encomendada, lo que nos hace involucrarnos profundamente con cada trabajo. Nuestra Excelencia profesional aplicada a cada una de las tareas a realizar esta avalada por una solida experiencia técnica y legal, adquirida a lo largo de más de 12 años de trabajo en la especialidad. Nuestro sistema de trabajo promete una continua y Fluida Comunicación, para que nuestros clientes estén al tanto de las gestiones en ejecución permanentemente, y puedan intervenir en ellas cada vez que lo necesiten. Sabemos que el tiempo tiene un gran valor para todos, por lo que ejecutamos cada trabajo con Celeridad en el tiempo justo, y acorde a la complejidad del mismo. Todo esto garantiza que el asesoramiento brindado a nuestros clientes sea reconocido actualmente como de gran Calidad, hecho que se manifiesta en la opinión de nuestros actuales clientes.</p>

      <hr class="divider">

      <p class="text-center"><b>Compromiso - Excelencia Profesional - Fluida Comunicación - Celeridad - Calidad</b></p>
    </div>
    <div class="col-sm-4">
      <%= render "servicios/aside" %>
    </div>
  </div>
</section>