<section class="who-are-we">
  <h3>Empresa</h3>

  <hr class="divider">

  <div class="row">
    <div class="col-sm-8 extra-margin-bottom">
      <h4><b>Quiénes Somos</b></h4>

      <p>Somos una consultora en Higiene, Seguridad y Medio Ambiente, formada por un equipo multi-disciplinario de profesionales de gran experiencia y reconocida trayectoria de esta ciudad. La formación de nuestros profesionales abarca áreas Químicas, Seguridad Laboral, Ingeniería Civil, Mecánica y Ambiental, todas unificadas con la especialización en Higiene y Seguridad en el Trabajo.</p>
      <p>Nos caracteriza un compromiso permanente con la Prevención, ya que estamos convencidos que la misma es la herramienta más importante con la que contamos y como parte integrante de ella, la capacitación y concientización permanente de las personas.</p>
      <p>Creemos que mantener una comunicación constante con el cliente, intercambiando propuestas y trabajando en conjunto garantiza el logro de los objetivos de un servicio de excelencia, con el propósito de cumplimentar con todos los requerimientos técnicos y legales que su empresa necesita.</p>

      <hr class="divider">

      <b>Nuestros Valores</b>
      <p>Compromiso - Excelencia Profesional - Fluida Comunicación - Celeridad - Calidad</p>
    </div>
    <div class="col-sm-4">
      <%= render "servicios/aside" %>
    </div>
  </div>
</section>